/*hoja de estilo landing page */

body {
    font-family: roboto;
    background-color: black;
}

/*
#cuerpo {
    padding: 0px 50px;
    display: flex;
    justify-content: center;
}
*/

#header {
  background-color: #1F2937;
  display: flex;
  margin: 0px 50px;
  flex-direction: column;
  
}

.top {
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.logo {
    
    display: flex;
    justify-content: left;
    padding-left: 350px;
}

.logoimg {
    height: 50px;
    width: auto;
    padding: 16px;
}

.links {
    display: flex;
    justify-content: left;
    padding-right: 350px;
}

ul {
 display: flex;
 list-style-type: none;
 gap: 16px;
 font-size: 18px;
 padding: 8px 16px;
}

a {
 text-decoration: none;
 color: #e5e7eb;
}


.awesome {
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 40px;
}

.awesomeimg {
    height: 300px;
    width: auto;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: whitesmoke;
}

.izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 400px;
}

.titular {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.texto {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    display: flex;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-top: 8px;
    padding: 10px 35px;
    font-size: 18px;
    
}

#centro1 {
   background-color: white;
   margin: 0px 50px;
}

#centro2 {

}

#centro3 {
  background-color: #e5e7eb;
}

#footer {
  background-color: #1F2937;
 
}

